profiles {
  standard {
    process {
      withName:ascp_download {
        container = 'ibmcom/aspera-cli:latest'
      }
      withName:extract_archive {
        container = 'nextflow/bash:latest'
      }
    }
  }
  
  batch {
    process.executor = 'awsbatch'
    process.queue = 'nextflow-ci'
    workDir = 's3://emriuom'
    aws.region = 'us-east-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}
