profiles {
  standard {
    process.container = 'ibmcom/aspera-cli:latest'
  }
  
  docker {
    process.container = 'ibmcom/aspera-cli:latest'
    docker.enabled = true
  }
  
  batch {
    process.container = 'ibmcom/aspera-cli:latest' 
    process.executor = 'awsbatch'
    process.queue = 'TowerForge-2iySiQ7Z9ow6bJVjWAkleR-work'
    workDir = 's3://emritest'
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}
